{% extends 'base.html' %}

{% block content %}
<section>
    <h2>{{ page_title }}</h2>

    <div>
        <a href="{% url 'create_stickynote' %}" class="text-black">Add New</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Stickynote Name</th>
                <th scope="col">Creator</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for stickynote in stickynotes %}
            <tr>
                <td>{{ stickynote.name }}</td>
                <td>{{stickynote.creator}}</td>
                <td>
                    <div class="d-flex">
                        <a href="{% url 'stickynote' pk=stickynote.pk %}" class="card-link">view</a>
                        <a href="{% url 'delete_stickynote' pk=stickynote.pk %}" class="card-link text-danger">delete</a>
                        <a href="{% url 'update_stickynote' pk=stickynote.pk %}" class="card-link text-black">update</a>
                    </div>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

</section>
{% endblock %}
